* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 8px 15px  black;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list-item {
    margin-left: 10px;
    font-size: 1.1rem;
}

.nav-logo {
    width: 55px;
}
main {
    padding: 20px;
}

.footer {
    background-color: black;
    padding: 20px;
}